body {
  font-family: font-family: "Gill Sans", sans-serif;
  background-color: rgb(255, 255, 128, 0.5);
}
#center {
text-align: center;
}
#yellow {
  width: 200px;
  padding: 25px;
  border: 2px solid black;
  margin: 30px;
  background-color: red;
}
#mango {
color: yellow;
font-weight: bold;
}
.info {
font-weight: bold;
}
a:hover {
  color: pink;
}
