body {
background-color: rgb(255, 255, 128, 0.5);
}
#center {
text-align: center;
color: #E88DAC;
}
#yellow {
  width: 50%;
  padding: 25px;
  border: 2px solid black;
  margin: 30px;
  background-color: red;
  border-radius: 20px;
  color: yellow;
  margin-left: 550px;
}
#mango {
font-weight: bold;
font-size: 25px;
text-align: center;
}
.info {
font-weight: bold;
font-size: 20px;
}
.font {
  font-family: cursive;
  font-size: 17px;
}
#yellow:hover {
background-color: pink;
}
img { 
border-radius: 3px;
box-shadow: 10px 5px 5px yellow;
margin: auto;
}
#mix {
width: 50%;
padding: 25px;
border: 2px solid black;
margin: 30px;
background-color: purple;
border-radius: 20px; 
color: blue;
margin-left: 550px;
}
#berries {
font-weight: bold;
text-align: center;
}
#mix:hover {
background-color: white;
}
#red {
width: 50%;
padding: 25px;
border: 2px solid black;
margin: 20px;
background-color: blue;
border-radius: 20px;  
color: red;
margin-left: 550px;
}
.Pomegranate {
font-weight: bold;
text-align: center;
}
#red:hover {
background-color: black;
}
.flex {
  display: inline;
  gap: 10px;
}



